@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --gofundme: rgb(1, 169, 93);
  --zelle: rgb(108, 28, 211);
  --venmo: rgb(0, 149, 255);
}

/* Add darkmode later */
/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
*/
body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
::selection {
  background-color: #c10398d6; /* Highlight background color */
  color: white; /* Highlight text color */
}
/* 
New Spirit Light
font-family: "new-spirit", serif;
font-weight: 300;
font-style: normal;
New Spirit Light Italic
font-family: "new-spirit", serif;
font-weight: 300;
font-style: italic;
New Spirit Regular
font-family: "new-spirit", serif;
font-weight: 400;
font-style: normal;
New Spirit Regular Italic
font-family: "new-spirit", serif;
font-weight: 400;
font-style: italic;
New Spirit Medium
font-family: "new-spirit", serif;
font-weight: 500;
font-style: normal;
New Spirit Medium Italic
font-family: "new-spirit", serif;
font-weight: 500;
font-style: italic;
New Spirit SemiBold
font-family: "new-spirit", serif;
font-weight: 600;
font-style: normal;
New Spirit SemiBold Italic
font-family: "new-spirit", serif;
font-weight: 600;
font-style: italic;
New Spirit Bold
font-family: "new-spirit", serif;
font-weight: 700;
font-style: normal;
New Spirit Bold Italic
font-family: "new-spirit", serif;
font-weight: 700;
font-style: italic;
New Spirit Light Condensed
font-family: "new-spirit-condensed", serif;
font-weight: 300;
font-style: normal;
New Spirit Light Condensed Italic
font-family: "new-spirit-condensed", serif;
font-weight: 300;
font-style: italic;
New Spirit Regular Condensed
font-family: "new-spirit-condensed", serif;
font-weight: 400;
font-style: normal;
New Spirit Regular Condensed Italic
font-family: "new-spirit-condensed", serif;
font-weight: 400;
font-style: italic;
New Spirit Medium Condensed
font-family: "new-spirit-condensed", serif;
font-weight: 500;
font-style: normal;
New Spirit Medium Condensed Italic
font-family: "new-spirit-condensed", serif;
font-weight: 500;
font-style: italic;
New Spirit SemiBold Condensed
font-family: "new-spirit-condensed", serif;
font-weight: 600;
font-style: normal;
New Spirit SemiBold Condensed Italic
font-family: "new-spirit-condensed", serif;
font-weight: 600;
font-style: italic;
New Spirit Bold Condensed
font-family: "new-spirit-condensed", serif;
font-weight: 700;
font-style: normal;
New Spirit Bold Condensed Italic
font-family: "new-spirit-condensed", serif;
font-weight: 700;
font-style: italic; */
